.family {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.dancing-script-online-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.size{
  font-size: 145px;
}